/* Estilos modulo 2 */

.tarjetas-productos {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
  justify-content: space-around; /* Distribuye las tarjetas equitativamente */
  gap: 20px; /* Espacio entre tarjetas */
  padding: 20px;
  margin-top: 80px;
}

/* Estilos modulo 2 */

.tarjetas-productos {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px; /* Espacio entre tarjetas */
  padding: 20px;
}

.tarjeta-producto {
  width: calc(
    33.333% - 20px
  ); /* Cada tarjeta ocupa el 33.33% del ancho menos el espacio del gap */
  margin: 10px 0; /* Margen vertical */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.imagen-producto {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.titulo-producto {
  font-size: 1.2rem;
  color: #333;
}

.precio-producto {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.boton-comprar {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.boton-comprar:hover {
  background-color: #218838;
}

/* Estilos responsivos para dispositivos móviles */
@media (max-width: 768px) {
  .tarjeta-producto {
    width: calc(50% - 20px); /* En pantallas pequeñas, 2 columnas */
  }
}

@media (max-width: 480px) {
  .tarjeta-producto {
    width: 100%; /* En pantallas muy pequeñas, 1 columna */
  }
}
